header .wrap{
  padding-bottom: 20px;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 200px;
  height: 100%;
  background-color: black;
  left: 0;
  padding-top: 35px;
}
header div.wrap h1 {
  background-image: url("../img/logo.png");
  width: 200px;
  height: 140px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
header div.wrap ul {
  padding-left: 15%;
  line-height: 3;
  font-size: 30px;
}
header div.wrap ul li {
  display: flex;
}
header div.wrap ul li:hover a{  
  color: ghostwhite;
  text-shadow: 2px 2px 4px;
}
header div.wrap ul li a {
  color: ghostwhite;
  text-shadow: 3px 0px 10px;
}